APP_NAME=ForBox Staff
APP_IDENTIFIER=com.forboxexpress.staff
APP_LINK_PREFIX=forboxstaff
FLEETBASE_HOST=https://api.fleetbase.io
FLEETBASE_KEY=
GOOGLE_MAPS_API_KEY=
DEFAULT_COORDINATES=1.369,103.8864
